
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .formWrapper {
  margin-top: 10;
} */

/* create new blog form */
.create {
  text-align: center;
  justify-content: center;
  margin: 30px;
  max-width: 430px;
  width: 100%;

}
.create form{
  direction: rtl;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: right;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #0EACCB;
}

.create h1 {
  font-size: xx-large;
  font-weight: 700;
  color: #0EACCB;
  margin-bottom: 20px;
}
.create h2 {
  font-size: 20px;
  color: #0EACCB;
  margin-bottom: 20px;
}
.create h3 {
  font-size: 28px;
  color: #1c7486;
  margin-bottom: 20px;
}
.create h4 {
  font-size: 20px;
  color: #1c7486;
  margin-bottom: 20px;
}

.create input{
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border: 1px solid #ddd;
}
.create textarea{
  width: 100%;
  min-height: 40px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border: 1px solid #ddd;
  }

.create select {
    font-size: small;
    color: gray;
  direction: rtl;
  width: 100%;
  height: 40px;
  padding: 6px 10px;
  margin: 10px 0;
  display: block;
}
.create option {
  font-size: small;
  color: #095d6d;
}
.create button {
  direction: rtl;
  background: #0EACCB;
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 200px;
  max-width: 265px;
  max-height: 50px;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.create p{
  color: rgb(225, 91, 91);
  text-align: right;
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 14px;
}
.create input {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 16px;
  display: inline;
}

.divWrapper {
    margin: 5%;
    
    
 }
.optionWrapper {
  margin: 5%;
}

.optionWrapper h3 {
font-size: large;
color: rgb(55, 11, 212);
text-align: right;}

.inputWrapper {
  display: grid;
  grid-template-areas:
      'left left right right'
      ;
  width: 100%;
  justify-content: right;
  align-items: center;

}
.inputWrapper input {
  grid-area: left;
  width: 90%;
  border: 0;
  
}
.icon {
  grid-area: right;
  width: 10%;
  /* transform: translateY(-50px);
  transform: translateX(-5px); */
}
.iconButton {
    transform: translate(-5px, -2px);
}
.card {
  color: #fff;
  cursor: pointer;
  
}
.cardTitle {
  display: inline;
  color: #0EACCB;
  font-weight: 700;
}

.card button {
  direction: rtl;
  background: #fff;
  color: #0EACCB;
  border: 0;
  /* padding: 8px; */
  border-radius: 8px;
  cursor: pointer;
  
}

.message {
  direction: rtl;
  background: #0EACCB;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.searchBar {
  direction: rtl;
    background: #032329;
    color: #fff;
    border: 0;
    padding: 5px;
    align-items: center;
}
.searchBar select{
  min-height: 40px;
  height: fit-content;
  }

.searchBar input {
  margin-bottom: -0.5px;
  min-height: 40px;
  height: fit-content;
}
.searchBar button {
  background: #eaf2f4;
  color: #032329;
  border-radius: 0;
  min-height: 40px;
  height: fit-content;
}

/* input[type="file"] {
} */

.product_form {
  background: #eaf2f4;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  min-width: 350px;
  max-width: 1000px;
  align-self: center;
}

.product_form label {
  text-align: right;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #0EACCB;
}

.product_form h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0EACCB;
  margin-bottom: 20px;
}

.product_form h2 {
  font-size: 20px;
  color: #0EACCB;
  margin-bottom: 20px;
}

.product_form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.product_form textarea {
  width: 100%;
  min-height: 40px;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.product_form select {
  font-size: small;
  color: gray;
  direction: rtl;
  width: 100%;
  height: 40px;
  padding: 6px 10px;
  margin: 10px 0;
  display: block;
}

.product_form option {
  font-size: small;
  color: #095d6d;
}

.product_form button {
  direction: rtl;
  background: #0EACCB;
  align-items: center;
  align-content: center;
  text-align: center;
  
  min-width: 200px;
  max-width: 265px;
  max-height: 50px;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.product_form p {
  color: rgb(225, 91, 91);
  text-align: right;
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 14px;
}

.myProductButton {
  display: grid;
  justify-content: center;
  width: 175;
}

.myProductButton button {
  background: #0EACCB;
  align-items: center;
  align-content: center;
  text-align: center;
  min-width: 175px;
  max-width: 175px;
  max-height: 50px;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.message {
  background: #eaf2f4;
  text-align: center;
  width: 60%;
  padding: 20;
  margin: 20;
  min-width: 350px;
  max-width: 1000px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.message h1 {
  font-size: 18px;
  font-weight: 700;
  color: #0EACCB;
}
.App-logo {
  margin: 5px;
  height: 30vmin;
  width: 30vmin;
  pointer-events: none;
  /* background-color: #93278f; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear; 
    /* /* animation: App-logo-colors infinite 2.5s linear; */
  }
}

@keyframes App-logo-colors {

  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}